{% extends "wishit/base.html" %}

{% load staticfiles %}

{% block content %}
<div class="row">
	<div class="col-sm-6 col-sm-offset-2">

		<h1>Wishit <!--<small>Organize and share your wishes</small>--></h1>
		<p>Organize and share your wishes</p>


		<form class="login_form" action="{% url 'wishit:login' %}" method="post" role="form" >
			{% csrf_token %}
						<div class="form-group vspace">
							<label for="username">Username:</label>
							<input type="text" class="form-control" name="username" id="username" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="pwd">Password:</label>
							<input type="password" class="form-control" name="password" id="pwd" placeholder="Enter password">
						</div>
						<!-- #messages is where the messages are placed inside -->
						<div class="form-group">
							 <div class="messages"></div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-inverse">Log in</button>
						</div>
		</form>
	</div>
</div>


{% if login_failed %} <p>The combination of username and pasword was incorrect.</p> {% endif %}

{% endblock content %}


